.project {
    background-color: var(--project-bg-color);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    user-select: none;
}

a.project-link, a.project-link:visited {
    color: var(--link-color);
}

.project-link.source {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.project-image {
    height: 200px;
    width: 200px;
    margin-right: 20px;
}

.project-image img {
    height: 100%;
    width: 100%;
}

.project-source {
    font-size: 0.8rem;
}

.project-text {
    margin-bottom: 20px;
}

.project-wrapper {
    position: relative;
}
