/* This CSS is common to all pages */

@font-face {
  font-family: 'Kreon';
  src: url('assets/Kreon/Kreon-VariableFont_wght.ttf');
}


body, html {
  height: 100%;
  margin: 0;
  font-family: 'Kreon', sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#react-root {
  height: 100%;
}

:root {
  --bg-color: #35155D;
  --link-color: #fff;
  --project-bg-color: #512B81;
}
