.navbar {
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.8em;
    height: 100px;
    width: 100%;
}

.navitem {
    color: var(--link-color);
    padding: 3px 10px;
}
.navitem.is-active {
    background-color: var(--link-color);
    color: var(--bg-color);
}
